#forest_scene {
    display:flex;
}

.background_image {
    background-image: url("./Assets/Forest/Forest_background.png");
    position: relative;
    height: 720px;
    width: 1280px;
}
ul {
    list-style: none;
}
.found_image {
    opacity:0.5
}