#forest_scene {
    display:flex;
    /* position: relative; */

}
 .background_image {
    background-image: url("./Assets/Forest/Forest_background.png");
    position: relative;
    height: 720px;
    width: 1280px;
 }


.item_checklist {
    
}